* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v102_137 {
  width: 100%;
  height: 631px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_138 {
  width: 100%;
  height: 631px;
  background: rgba(9,9,9,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_387 {
  width: 336px;
  height: 631px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v101_385 {
  width: 336px;
  height: 135px;
  background: rgba(67,64,72,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v101_388 {
  width: 314px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v101_403 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 22px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_404 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 210px;
  left: 36px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v103_263 {
  width: 100px;
  height: 100px;
  background: url("../images/v103_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 57px;
  overflow: hidden;
}
